
.review-container ul,
.review-container li,
.review-container p {
    margin: 0;
    font-weight: 500;
    line-height: 1.6;
    color: #f7f2f2;
    font-size: 14px;
}

.review-container ul {
    padding: 0;
}

.review-container  ul li {
    list-style: none;
}

.review-container  p strong,
.review-container  p b {
    font-weight: 700;
}

.review-container  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.review-container  h1,
h2,
h3,
h4 {
    margin: 0;
}

.review-container  h2 {
    font-weight: 600;
    font-style: normal;
}

.review-container  button {
    border: 0;
    cursor: pointer;
}




.sap-fico .review .review-container,
.sap-fico .review .info,
.sap-fico .review .content-list,
.sap-fico .review .content-item,
.sap-fico .review .content {
    display: flex;
    flex-direction: column;
}

.sap-fico .review .review-container {
    position: relative;
}

.sap-fico .review .review-container .heading {
    margin-bottom: 2.5rem;
}

.sap-fico .review .review-list {
    display: flex;
    position: static;
}

.sap-fico .review .review-item {
    display: flex;
    align-items: center;
    opacity: 0.5;
    width: fit-content;
}

.sap-fico .review .review-item span {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    overflow: hidden;
    filter: brightness(0.6);
}

.sap-fico .review .review-item span img {
    width: 100%;
    height: 100%;
    transform: scale(1.8) translateY(14px);
}

.sap-fico .review .review-item .info {
    width: auto;
    margin-left: 1rem;
}

.sap-fico .review .review-item .info h3 {
    font-size: 14px;
    color: #fff;
}

.sap-fico .review .active .review-item {
    border-bottom: 3px solid #534FF8;
    padding-bottom: 0.7rem;
    opacity: 1;
}

.sap-fico .review .active .review-item h3 {
    color: #534FF8;
}

.sap-fico .review .active+.active .review-item {
    border-bottom: none;
    padding-bottom: 0;
    opacity: 0.5;
}

.sap-fico .review .active+.active .review-item h3 {
    color: #fff;
}

.sap-fico .review .owl-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 70px;
    bottom: -45px;
}

.sap-fico .review .owl-nav .owl-prev,
.sap-fico .review .owl-nav .owl-next {
    display: flex;
    width: 25px;
    height: 25px;
    background-color: #fff;
    background-image: url(_public/images/sap-fico/arrow-white.svg);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    opacity: 0.5;
}

.sap-fico .review .owl-nav .owl-next {
    transform: rotate(180deg);
}

.sap-fico .review .owl-nav .btn-active {
    opacity: 1;
}

.sap-fico .review .content-item {
    margin-top: 2rem;
}

.sap-fico .review .content-item span {
    display: none;
}

.sap-fico .review .content img {
    width: 109px;
    height: 16px;
    margin-bottom: 0.7rem;
}



@media (min-width : 1024px) {

    p,
    li {
        line-height: 1.8;
    }

   
    .sap-fico .review .review-container {
        width: 90%;
        margin: auto;
    }

    .sap-fico .review .heading {
        margin-bottom: 2.5rem;
    }

    .sap-fico .review .heading h2 {
        text-align: center;
    }

    .sap-fico .review .heading h2::before {
        right: 0;
        margin: auto;
    }

    .sap-fico .review .content-item {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 3.5rem;
    }

    .sap-fico .review .content-item span {
        display: flex;
        width: 214px;
        height: 225px;
        filter: brightness(0.6) drop-shadow(0 8px 13px rgba(0, 0, 0, 0.25));
    }

    .sap-fico .review .content-item span img {
        width: 100%;
        height: 100%;
    }

    .sap-fico .review .content {
        width: calc(100% - 262px);
    }

    .sap-fico .review .owl-nav {
        width: calc(100% + 95px);
        bottom: 21%;
        left: -47px;
    }

   
}

@media (min-width : 1366px) {
    .container {
        width: 1200px;
        margin: 0 auto;
    }

  
    .sap-fico .review .review-container {
        width: 70%;
    }

    .sap-fico .review .owl-nav {
        width: calc(100% + 140px);
        left: -60px;
    }

   
}



/* faq css  */
.faq-item.active {
    border-radius: 14px;
}

.faq-item.active .ques {
    border-radius: 14px 14px 0px 0px;
    background-color: #00e9c2;
}

.faq-item.active .ques h3 {
    color: #010000;
}

.faq-item.active .ques img {
    filter: invert(1);
    transform: rotate(180deg);
}

.ques img {
    transition: 1s all;
}
